*{
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(
    rgb(253, 251, 251),
    rgba(255, 255, 255, 0.993)
  );
  font-family: "Epilogue", sans-serif;
}




:root{
  --cor1: hsl(0, 0%, 98%);
  --cor2: hsl(0, 0%, 41%);
  --cor3: hsl(0, 0%, 8%);
  --cor4: hsl(243, 79%, 67%);
  --cor5: hsl(53, 76%, 54%);
  --cor6: hsl(197, 65%, 57%);
  --cor7: hsl(277, 42%, 50%);
}

.cor1{
  color: var(--cor1);
}

.cor2{
  color: var(--cor2);
}

.cor3{
  color: var(--cor3);
}

.cor4{
  color: var(--cor4);
}

.cor5{
  color: var(--cor5);
}



.container-desktop{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 20px;
}

.container-mobile{
  max-width: 375px;
  margin: 0 auto;
  padding: 0px 10px;
}
