header{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  height: 100px;
}

header picture{
 align-self: center;
 display: flex;
 padding-right: 60px;
}


.menu_geral_desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  gap: 50px;
}

.menu_um_desktop{
  display: flex;
  gap: 30px;
}

.menu_dois_desktop{
  display: flex;
  gap: 30px;
  align-items: center;
}

.menu_um_desktop li a,
.menu_dois_desktop li a{
  transition: all 0.6s;
  display: flex;
  gap: 5px;
  color: var(--cor3);
  font-weight: 700;
  font-size: 1.1rem;
}

.menu_um_desktop li a:hover{
  border-radius: 50px;
  padding: 0.3rem 1rem;
}

.menu_um_desktop li a img{
  object-fit: contain;
  object-position: center;
  transition: all 0.6s;
  display: inline;
 }

.menu_um_desktop li a:hover img {
  transform: rotate(-180deg);
}


.menu_um_desktop li:nth-child(1) a:hover{
  background-color: var(--cor5);  
  color: var(--cor1);
}
.menu_um_desktop li:nth-child(2) a:hover{
  background-color: var(--cor6);  
  color: var(--cor1);
}
.menu_um_desktop li:nth-child(3) a:hover{
  background-color: var(--cor7);  
  color: var(--cor1);
}
.menu_um_desktop li:nth-child(4) a:hover{
  background-color: var(--cor4);  
  color: var(--cor1);
}

.menu_dois_desktop li a:hover{
  transform: translateY(-15px);
}

.menu_dois_desktop li:nth-child(2) a{
  border: 2px solid black;
  padding: 8px 16px;
  border-radius: 50px;
}

.menu_mobile{
  display: none;
}

.close__open{
  display: none;
}



